.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
}

.content {
  background-color: #E4E4E2 ;
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}