.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 15px;
}

.post-container {
  border: 2px solid #171E27;  
  border-radius: 20px;
  width: 100%;
  background-color: #215E7C;
  color: #F9E5C9;
  margin-bottom: 2px;
}

.btn-container {
  display: flex;
  justify-content: right;
  margin: 10px;
}

.post-enter {
  transform: translateX(-350px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.page__wrapper {
  margin-top: 30px;
  display: flex;
}

.page {
  padding: 10px;
  border: 1px solid teal;
  cursor: pointer;
}

.page__current {
  border: 2px solid orange;
  font-weight: bold;
}