.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 15px;
}

.post-container {
  border: 2px solid #171E27;  
  border-radius: 20px;
  width: 100%;
  background-color: #215E7C;
  color: #F9E5C9;
}

.btn-container {
  display: flex;
  justify-content: right;
  margin: 10px;
}